@model ElectronicsStore.Models.StoreItemInfoViewModel

@{
    ViewData["Title"] = "Item";
}
<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/@Model.StoreItem.ImagePath" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1"></div>
                    <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.StoreItem.Name);</h1>
                    <ul class="list-unstyled fs-5 mb-5">
                            <li class="text-decoration font-weight-bold">@Model.StoreItem.GetPrice()</li>
                        <li class="text-decoration">Available: @Model.StoreItem.GetQuantity()</li>
                        <li class="text-decoration">Delivery time: @Html.DisplayFor(model => model.StoreItem.itemLocation)</li>
                    </ul>
                    <p class="lead">@Html.DisplayFor(model => model.StoreItem.Description)</p>
                    <div class="d-flex">
                        <form asp-action="AddToCart">
                            <input type="hidden" asp-for="@Model.StoreItem.Id" name="itemId" />
                            <input type="number" name="Quantity" value="1" />
                            <i class="bi-cart-fill me-1"></i>
                            <input type="submit" value="Add to cart" class="btn btn-outline-dark flex-shrink-0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model.RelatedStoreItems)
                 {
                <div class="col mb-5">
                    <div class="card h-100">
                        <a asp-controller="Shop" asp-action="Item" asp-route-id="@item.Id">
                            <img class="card-img-top" src="~/@item.ImagePath" alt="450x300..." style="height: 300px" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    @item.GetPrice()
                                </div>
                            </div>
                            </a>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                                <i class="bi-cart-fill me-1"></i>
                                <form asp-action="AddToCart" asp-controller="Shop" asp-route-itemId="@item.Id" asp-route-quantity="1">
                                    <input type="submit" value="Add to cart" class="btn btn-outline-dark flex-shrink-0" />
                                </form>
                            </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
</body>
